<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    title 微信消息模板页
    link(rel="stylesheet" href="./css/template.css")

  body
    div.main(style=`background-image: url(${oneImg})`)
      div.content
        p.weather
          span.weather-temp= weaTemp
          span.weather-status(style=`background-image: url(${weaImg})`)=weaStatus
        p.weather-tips.font16= weaTips
        p.date.font16=date
        p.one-title.font16 每日一句
        p.one-words.font16=oneWords
        p.words.font16=words